####### ignore all files except .gitignore #######

/**
!/.gitignore

####### Un-ignore the subdirectories
###     this allows un-ignored file types in subdirectories 

!/Danielle_cut_n_run_Dec2020/
/Danielle_cut_n_run_Dec2020/**
!/Danielle_cut_n_run_Dec2020/CR6/
/Danielle_cut_n_run_Dec2020/CR6/**
!/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/
/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/**

####### Un-ignore the following file types #######

!*.py 
!*.sh 
!*.pdf
!*.html
