####### ignore all files except .gitignore #######

/*
!*.py 
!*.sh 
!*.pdf
!*.html
!*.log
!*.bdg
!*.broadPeak
!*.xls
!*.gappedPeak

!/Danielle_cut_n_run_Dec2020/
/Danielle_cut_n_run_Dec2020/*
!*.py 
!*.sh 
!*.pdf
!*.html
!*.log
!*.bdg
!*.broadPeak
!*.xls
!*.gappedPeak

!/Danielle_cut_n_run_Dec2020/CR6/
/Danielle_cut_n_run_Dec2020/CR6/*
!*.py 
!*.sh 
!*.pdf
!*.html
!*.log
!*.bdg
!*.broadPeak
!*.xls
!*.gappedPeak

!/Danielle_cut_n_run_Dec2020/CR6/06_peak_callinag/
/Danielle_cut_n_run_Dec2020/CR6/06_peak_calling/*
!/Danielle_cut_n_run_Dec2020/CR6/06_peak_calling/broad_peaks/
/Danielle_cut_n_run_Dec2020/CR6/06_peak_calling/broad_peaks/*
!*.py 
!*.sh 
!*.pdf
!*.html
!*.log
!*.bdg
!*.broadPeak
!*.xls
!*.gappedPeak

!/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/
/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/*
!*.py 
!*.sh 
!*.pdf
!*.html
!*.log
!*.bdg
!*.broadPeak
!*.xls
!*.gappedPeak

####### Un-ignore the subdirectories
###     this allows un-ignored file types in subdirectories 

#!/Danielle_cut_n_run_Dec2020/
#/Danielle_cut_n_run_Dec2020/**
#!/Danielle_cut_n_run_Dec2020/CR6/
#/Danielle_cut_n_run_Dec2020/CR6/**
#!/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/
#/Danielle_cut_n_run_Dec2020/CR6/multiqc_reports/**

####### Un-ignore the following file types #######

!/.gitignore
